/* Core Layout */

/***********************************
 * HTML Element Styles
 **********************************/
html, body, div, span, object, iframe, address, blockquote, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, b, bdo, big, cite, code, del, dfn, em, i, img, ins, kbd, q, samp, small, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, form, fieldset, legend, label, table, caption, thead, tfoot, tbody, tr, th, td {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    outline: 0px none;
    font-size: 100%;
    vertical-align: baseline;
}
body{
	background-image: url('/img/site-resources/background.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #000000;
	margin: 0px;
	padding: 0px;
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	color: #e0ceb2;
	/*For IE, Use PIE.htc to allow for advanced CSS3 Effects*/
	behavior: url(/PIE.htc); 
}
a{
	color: #7fad3d;
	text-decoration: none;
	border-style: none;
}
a:hover{
	color: #FFFFFF;
	text-decoration: none;
	border-style: none;
}
/***********************************
 * Core Style for Layout Containers
 **********************************/
#container{
	position: relative;
	width: 100%;
}

#header{
	position: relative;
	width: 942px;
	height: 230px;
}

#content{
	position: relative;
	background: url('/img/site-resources/content-background-top.jpg') top left no-repeat, url('/img/site-resources/content-background-bottom.jpg') bottom left no-repeat, url('/img/site-resources/content-background-repeat.jpg') top left;
	-pie-background: url('/img/site-resources/content-background-top.jpg') top left no-repeat, url('/img/site-resources/content-background-bottom.jpg') bottom left no-repeat, url('/img/site-resources/content-background-repeat.jpg') top left;
	width: 942px;
}
#contentAlignment{
	position: relative;
	width: 905px;
	height: auto;
	padding: 18px 18px 10px 18px;
}
#footer{
	position: relative;
	width: 942x;
}

/***********************************
 * Page Columns and Common Wrappers
 **********************************/
#right{
	width: 300px;
}
#left{
	width: 600px;
}
#wrapper900px{
	width: 905px;
}
#wrapper300px{
	width: 300px;
}
#wrapper600px{
	width: 600px;
}
/*****************************
 * HTML Attributes Attachable
 ****************************/
.alignCentered{
	margin: 0 auto 0 auto;
}
.marginTop10px{
	margin-top: 10px;
}
.marginBottom10px{
	margin-bottom: 10px;
}
.marginLeft10px{
	margin-left: 10px;
}
.marginRight10px{
	margin-right: 10px;
}
.bgWhite{
	background-color: #FFFFFF;
}
.bgBlack{
	background-color: #000000;
}


/***********************************
 * Layout Elements
 **********************************/

/*User Controls*/
#userControl{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 40px;
	min-width: 250px;
}
#userControlBody{
	position: relative;
	float: left;
	height: 40px;
	background: url('/img/site-resources/user-control-background-repeat.png') top left repeat-x;
}
#userControlLeft{
	position: relative;
	float: left;
	height: 40px;
	width: 50px;
	background: url('/img/site-resources/user-control-background-left.png') top left no-repeat;
}
#userConrolDropDown{
	background: url('/img/site-resources/user-control-portals.png') top left no-repeat;
	width: 100px;
	height: 40px;
	float: left;
	
}
#userControlElement{
	
}

/*Search Bar*/
#searchBar{
	
}

/*Navigation*/
#nav{
	position: absolute;
	padding: 0 2px 0 2px;
	bottom: 5px;
	left: 18px;
	height: 55px;
	background: url('/img/site-resources/nav-background-left.png') top left no-repeat, url('/img/site-resources/nav-background-right.png') top right no-repeat, url('/img/site-resources/nav-background-repeat.png') top;
}
.navButton{
	position: relative;
	float: left;
	top: 2px;
	width: 75px;
	height: 51px;
	background: url('/img/site-buttons/navigation-button.png');
}

/*Site-Trail*/
#siteTrail{
	position: absolute;
	top: 18px;
	left: 18px;
	height: 40px;
	background: url('/img/site-resources/site-trail-right.png');
	width: 907px;
	z-index: 10;
}
#siteTrailLeft{
	position: relative;
	float: left;
	background: url('/img/site-resources/site-trail-left.png');
	background-repeat: repeat-x;
	min-width: 100px;
	padding-top: 8px;
	padding-left: 5px;
	height: 32px;
}
#siteTrailDetail{
	position: relative;
	float: left;
	background: url('/img/site-resources/site-trail-detail.png');
	width: 37px;
	height: 40px
}


